@import '../node_modules/bulma/css/bulma.css';

.hero-image {
    background-image: url("../images/exercise-1-hero2.png");
    background-size: cover;
}

.has-text-danger-dark {
    color: #cc0f35 !important;
}

.has-text-weight-bold {
    font-weight: 700 !important;
}

.has-text-link-dark {
    color: #2160c4 !important;
}

.has-text-centered {
    text-align: center !important;
}

.pt-6 {
    padding-top: 3rem !important;
}

.pb-6 {
    padding-bottom: 3rem !important;
}

.has-ratio,
.image.is-4by3{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.image.is-3by1 {
    padding-top: 33.3333%;
}

.footer-background {
    background-color:#555555;
    color: #FFFFFF;
}